.progress-text {
    background: #007dab;
    color: white;
    border-radius: 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    margin-left: 33%;
}