<nav class="navbar mb-5">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/img/readify_logo.png" width="100" class="d-inline-block align-top" alt="">
    </a>
</nav>

<div class="board-inner" id="status-buttons">
    <div class="row">
        <div class="col-12 number-tabs">
            <ul class="nav nav-tabs" id="myTab">
                <!-- circular user icon -->
                <li>
                    <a routerLink="/personal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                        data-toggle="tab" title="personal">
                        <span class="round-tabs one">
                            1
                        </span>
                        
                    </a>
                </li>

                <!-- circular tasks icon -->
                <li>
                    <a routerLink="/degree" routerLinkActive="active" data-toggle="tab" title="work">
                        <span class="round-tabs two">
                            2
                        </span>
                       
                    </a>
                </li>

                <!-- circular home icon -->
                <li>
                    <a routerLink="/capabilities" routerLinkActive="active" data-toggle="tab" title="address">
                        <span class="round-tabs three">
                            3
                        </span>
                        
                    </a>

                </li>

                <!-- circular ok icon -->
                <li>
                    <a routerLink="/result" routerLinkActive="active" data-toggle="tab" title="completed">
                        <span class="round-tabs four">
                            4
                        </span>
                    </a>

                </li>

            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="progress-row">
                    <span class="progress-text">About You</span>
                    <span class="progress-text">University</span>
                    <span class="progress-text">Capabiilty</span>
                    <span class="progress-text">Confirm</span>

            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>