<div class="container-full form">
  <div class="row">
    <div class="col-lg-6 placeholder-img">
      <div class="overlay"></div>
    </div>

    <div class="col-lg-6 col-xs-12 col-sm-12 form-q">

      <nav class="navbar mb-1">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/img/Readify_black_logo.png" width="100" class="d-inline-block align-top" alt="">
        </a>
      </nav>

      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step [stepControl]="firstFormGroup" state="person">
          <form [formGroup]="firstFormGroup" class="form-input">
            <ng-template matStepLabel>About You</ng-template>
              <h3 class="welcome-msg">Hey there 👋! Thanks for choosing Readify, we'll just need to
                grab a few details from you.
              </h3>
            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="firstName" [(ngModel)]="firstName" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last Name" formControlName="lastName" [(ngModel)]="lastName" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" [(ngModel)]="email" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$">
            </mat-form-field>
            <div class="btn-right">
              <button mat-raised-button color="primary" matStepperNext>Next<span style="margin-left:10px;" class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" state="school">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Study</ng-template>
            <h3 class="welcome-msg">Nice to meet you {{firstName}}!
                What and where did you study 🎓?</h3>
            <mat-form-field>
              <input matInput placeholder="Degree" formControlName="degree" [(ngModel)]="degree" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="University" formControlName="university" [(ngModel)]="university" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="Year Graduated/Graduating" formControlName="year" [(ngModel)]="year"
                required pattern="^(20)\d{2}$">
            </mat-form-field>
            <div class="btn-group">
              <button mat-stroked-button color="primary" matStepperPrevious><span style="margin-right:10px;"
                class="glyphicon glyphicon-chevron-left"></span>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next<span style="margin-left:10px;"
                class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" state="clear_all">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Capability</ng-template>
            <h3 class="welcome-msg">Last one! Which capability are you interested in?</h3>
            <mat-radio-group formControlName="capability" [(ngModel)]="capability">
              <mat-card>
                <mat-radio-button value="Development">Development (Readify)
                  <span class="radio-img">
                    <img src="../../../assets/img/code.png" width="30px" alt="">
                  </span>
                </mat-radio-button>
              </mat-card>
              <mat-card>
              <mat-radio-button value="Design">Design (Readify)
                  <span class="radio-img">
                      <img src="../../../assets/img/painting-palette.png" width="30px" alt="">
                    </span>
              </mat-radio-button>
              </mat-card>
              <mat-card>
              <mat-radio-button value="Data">Data (Readify)
                  <span class="radio-img">
                      <img src="../../../assets/img/chemistry.png" width="30px" alt="">
                    </span>
              </mat-radio-button>
              </mat-card>
              <mat-card>
              <mat-radio-button value="Infrastructure">Infrastructure (Kloud)
                  <span class="radio-img">
                      <img src="../../../assets/img/cloud.png" width="30px" alt="">
                    </span>
              </mat-radio-button>
              </mat-card>
              <mat-card>
              <mat-radio-button value="Kloud">Kloud (Kloud)
                  <span class="radio-img">
                      <img src="../../../assets/img/cloud_rainbow.png" width="30px" alt="">
                    </span>
              </mat-radio-button>
            </mat-card>
            </mat-radio-group>

            <div class="btn-group">
              <button mat-stroked-button color="primary" matStepperPrevious><span style="margin-right:10px;"
                class="glyphicon glyphicon-chevron-left"></span>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next<span style="margin-left:10px;"
                class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
          </form>
        </mat-step>
        <mat-step state="review">
          <ng-template matStepLabel>Complete</ng-template>
          <h3 class="welcome-msg">You have successfully submitted!</h3>
          <p>Name: {{firstName}} {{lastName}}</p>
          <p>Email: {{email}}</p>
          <p>Studies: {{degree}} at {{university}}</p>
          <p>Graduated/Graduating in: {{year}}</p>
          <p>Interested in: {{capability}}</p>
          <div class="text-center">
            <button mat-stroked-button color="primary" matStepperPrevious><span style="margin-right:10px;"
                class="glyphicon glyphicon-chevron-left"></span>Back</button>
            <button mat-raised-button color="primary">Submit</button>
          </div>
        </mat-step>

        <ng-template matStepperIcon="person">
          <mat-icon>person</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="school">
          <mat-icon>school</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="storage">
            <mat-icon>storage</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="review">
              <mat-icon>assignment_turned_in</mat-icon>
            </ng-template>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>