@mixin object($width, $height, $bg) {
	width: $width;
	height: $height;
	background: $bg;
}

::-webkit-scrollbar {
	display: none;
}

// Colors
$body-font: 'Roboto', sans-serif;
$heading-font: 'Rubik', sans-serif;

.wrapper {
	display: grid;
	grid-template-rows: 80px 1fr;
}

main {
	@include object(100vw, null, null);
	display: flex;
}

.btn {
    border: 2px solid white;
    padding: 0.8rem 3rem;
}

button {
	color: white;
	font-family: $heading-font;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 1.2rem;

	&:hover {
		color: white;	
	}
}

.btn-solid {
	background: #0fa4dc;
	border: none;
	border-bottom: 3px solid #0d89b7;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	
	&:hover {
		border-bottom: 0px;	
	}
}

section {
	@include object(50vw, 100vh, null);
	display: flex;
	align-items: center;
	justify-content: center;
	&:nth-child(odd) {
		background: #56CCF2;  /* fallback for old browsers */
		background: -webkit-linear-gradient(-30deg, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(-30deg, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	&:nth-child(even) {
		background: #56CCF2;  /* fallback for old browsers */
		background: -webkit-linear-gradient(30deg, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(30deg, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
  
	  .sub-heading {
		  text-align: center;
	  }
      
}

.not-sure {
	position: absolute;
	bottom: 2rem;
	right: 5rem;
	
	span {
		font-family: $heading-font;
		color: white;
		font-size: 1.5rem;
	}

	a {
		color: white;
		text-decoration: underline;
	}
}

@media screen and(min-width:981px) {
	section {
        transition: all 0.4s cubic-bezier(0.61, -0.44, 0.33, 1.39);
		@for $i from 1 through 2 {
			&:nth-child(#{$i}):hover {
				width: 120vw;
			}
		}
		.content {
			transition: all 0.4s cubic-bezier(0.61, -0.44, 0.33, 1.39);
		}
	}
}

@media screen and (max-width: 980px) {
	main {
		display: unset;
		section {
			float: left;
			@include object(50vw, calc(50vh - 40px), null);
			border-bottom: 2px solid rgba(#000, 0.2);
			.content {
				img {
					width: 350px;
					display: block;
					margin: 0 auto;
				}
			}
			&:nth-child(odd),
			&:nth-child(even) {
				opacity: 0.9;
				height: 50vh;
			}

			.sub-heading {
				margin-top: 2rem;
				display: inline-flex;
			}
		}
				
		.btn {
			padding: 0.5rem 1.2rem;
		}
	}
}

@media screen and (max-width: 767px) {
	nav {
		a {
			display: none;
		}
		span {
			display: flex;
		}
	}
}


@media screen and (max-width: 480px) {
	main {
		section {
			width: 100vw;
			border: none;
		}
	}
}