<div class="wrapper">
  <main>
    <section class="readify">
      <div class="content">
        <img src="../../../assets/img/readify_logo.png" alt="Readify Logo" width="500px">
        <div class="sub-heading">
          <button class="btn btn-solid mr-4"><a routerLink="/form">Apply for Readify</a></button>
          <button class="btn"><a href="https://readify.net/about/" target="_blank">About Readify</a></button>
        </div>
      </div>
    </section>
    <section class="kloud">
      <div class="content">
        <img src="../../../assets/img/kloud_logo_white.png" alt="Readify Logo" width="500px">
        <div class="sub-heading">
            <button class="btn btn-solid mr-4"><a routerLink="/form">Apply for Kloud</a></button>
            <button class="btn"><a href="https://www.kloud.com.au/#section-about" target="_blank">About Kloud</a></button>
        </div>
        <div class="not-sure">
          <span>Not sure? <a routerLink="/form">Apply for both!</a></span>
        </div>
      </div>
    </section>
  </main>
</div>