<div class="wrapper">
  <main>
    <section class="readify">
      <div class="content">
        <img src="../../../assets/img/readify_logo.png" alt="Readify Logo" width="500px">
        <div class="sub-heading">
            <a routerLink="/form"><button class="btn btn-solid mr-4">Apply for Readify</button></a>
            <a href="https://readify.net/about/" target="_blank"><button class="btn">About Readify</button></a>
        </div>
      </div>
    </section>
    <section class="kloud">
      <div class="content">
        <img src="../../../assets/img/kloud_logo_white.png" alt="Readify Logo" width="500px">
        <div class="sub-heading">
            <a routerLink="/form"><button class="btn btn-solid mr-4">Apply for Kloud</button></a>
            <a href="https://www.kloud.com.au/#section-about" target="_blank">
              <button class="btn">About Kloud</button>
            </a>
        </div>
        <div class="not-sure">
          <span>Not sure? <a routerLink="/form">Apply for both!</a> </span>      
        </div>
      </div>
    </section>
  </main>
</div>