/* You can add global styles to this file, and also import other style files */
@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import '@angular/material/prebuilt-themes/indigo-pink.css';

$head-font: 'Rubik', sans-serif;
$body-font: 'Roboto', sans-serif;

.navbar-brand {
    padding: 0;
}

.overlay {
    position: absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #009FFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(60deg, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(60deg, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.5;
}

//Form Style
.form {
    overflow: hidden;
}

.form-group {
    margin-bottom: 3rem;
    display: block;
    margin: 0 auto;
}

.mat-raised-button:not([class*=mat-elevation-z]),
.mat-stroked-button:not([class*=mat-elevation-z])
 {
    border-radius: 20px;
    padding: 0.1rem 3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: $head-font;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 2rem 0;
}


.btn-right {
    text-align: right;
}

.mat-radio-button {
    display: block !important;
}

.mat-radio-label-content {
    font-weight: 400;
    font-size: 1.3rem;
    font-family: $head-font;
    display: inline-flex !important;
    align-items: center;

    .radio-img {
        position: absolute;
        right: 0px;
        float: right;
        margin-right: 2rem;
    }
}

.mat-card {
    margin: 1rem 0;
}

.mat-stepper-horizontal {
    background-color: rgba(255,255,255,0.8);
}

.mat-raised-button .mat-button-wrapper>*, .mat-stroked-button .mat-button-wrapper>* {
    vertical-align: baseline !important;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
    font-family: $head-font;
    font-size: 1.4rem;
    color: #555;
    letter-spacing: 1px;        
    overflow: visible;
    width: unset !important;
}

.mat-form-field {
    display: block !important;
}

.welcome-msg {
    font-family:$head-font;
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 4rem;
    padding: 2rem 0;
}

.placeholder-img {
    background-image: url('assets/img/form_photo.jpg');
    background-size: cover;
    background-position-x: -28rem;
}

.placeholder-img,
.form-q {
    height: 100vh;
}

.form-q {
    padding: 1rem 8rem;
    
    img {
        display: block;
        margin: 0 auto;
    }
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    border-radius: 100px;
}

// .mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
//     position: absolute;
//     bottom: 6vh;
// }

.form-input {
    margin-top: 12vh;
}

.form-input2 {
    margin-top: 16vh;
}

.form-input3 {
    margin-top: 8vh;
}

.party {
    h3:after {
        background: url(./assets/img/partyparrot.gif); 
    }
}
//Form Style End

//MEDIA QUERIES

@media screen and (max-width: 1024px) {
    .form-q {
        padding: 0 3rem;
    }

    .welcome-msg {
        padding: 0;
    }

    .welcome-img img {
        width: 150px;
    }

    .btn-group {
        display: block;
    }

    .capability img {
        display: none;
    }

    .form-input {
        margin-top: 8vh;
    }
    
    .form-input2 {
        margin-top: 10vh;
    }
    
    .form-input3 {
        margin-top: 4vh;
    }

}

@media screen and (max-width: 980px) {
    .form {
        overflow: auto;
    }

    .placeholder-img,
    .welcome-img {
        display: none;
    }

    .welcome-msg {
        font-size: 2rem;
        letter-spacing: 1px;
        line-height: 3.5rem;
        margin-top: 0;
    }

    .btn-group {
        display: inline-flex;
    }

    .mat-raised-button:not([class*=mat-elevation-z]), .mat-stroked-button:not([class*=mat-elevation-z]) {
        margin: 1rem;
    }

    .mat-card {
        padding: 10px 16px;
        margin: 1rem 0;
    }
    
    .form-q {
        padding: 0 3rem;
    }

    .form-input {
        margin-top: 8vh;
    }
    
    .form-input2 {
        margin-top: 10vh;
    }
    
    .form-input3 {
        margin-top: 4vh;
    }
}

@media screen and (max-width: 375px) {
    .form-input3 {
        margin-top: 0;
    }
}

//CONFETTI

.wrapper-confetti {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    left: 0;
    z-index:-1;
  }
  
  [class|="confetti"] {
    position: absolute;
  }
  
  $colors: (#d13447, #ffbf00, #263672);
  
  @for $i from 0 through 150 {
    $w: random(8);
    $l: random(100);
    .confetti-#{$i} {
      width: #{$w}px;
      height:#{$w*0.4}px;
      background-color: nth($colors, random(3));
      top: -10%;
      left: unquote($l+"%");
      opacity: random() + 0.5;
      transform: rotate(#{random()*360}deg);
      animation: drop-#{$i} unquote(4+random()+"s") unquote(random()+"s") infinite;
    }
  
    @keyframes drop-#{$i} {
      100% {
        top: 110%;
        left: unquote($l+random(15)+"%");
      }
    }
  }