/* You can add global styles to this file, and also import other style files */
@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import '@angular/material/prebuilt-themes/indigo-pink.css';

$head-font: 'Rubik', sans-serif;
$body-font: 'Roboto', sans-serif;

.navbar-brand {
    padding: 0;
}

//Form Style
.form {
    overflow: hidden;
}

.form-group {
    margin-bottom: 3rem;
    display: block;
    margin: 0 auto;
}

.mat-raised-button:not([class*=mat-elevation-z]),
.mat-stroked-button:not([class*=mat-elevation-z])
 {
    border-radius: 20px;
    padding: 0.1rem 3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: $head-font;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 2rem;
}

.mat-raised-button .mat-button-wrapper>*, .mat-stroked-button .mat-button-wrapper>* {
    vertical-align: baseline !important;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
    font-family: $head-font;
    font-size: 1.4rem;
    color: #555;
    letter-spacing: 1px;
}

.mat-form-field {
    display: block !important;
}

.welcome-msg {
    font-family:$head-font;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 4rem;
    padding: 2rem 4rem;
}

.placeholder-img {
    background-image: url("https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
}

.placeholder-img,
.form-q {
    height: 100vh;
}

.form-q {
    padding: 1rem 14rem;
    
    img {
        display: block;
        margin: 0 auto;
    }
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    border-radius: 100px;
}
//Form Style End

//MEDIA QUERIES

@media screen and (max-width: 980px) {
    .form {
        overflow: auto;
    }

    .placeholder-img {
        display: none;
    }
    
    .form-q {
        padding: 0 3rem;
    }
}