
<app-progressbar></app-progressbar>

<form #addressForm="ngForm" class="editForm" novalidate>
  <div class="tab-pane fade in active">
      <h3 class="head text-center">Nice to meet you {{formData.firstName}}! 
          What and where did you study?</h3>
      <br/>
      <div class='row'>
          <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
              <div class="form-group">
                  <label class="control-label" for="street">Degree</label>  
                  <input class="form-control input-md" #degree="ngModel" required id="degree" name="street" type="text" placeholder="Degree" [(ngModel)]="capability.degree">
              </div>   
              <div class="row">
                  <div class='col-xs-12 col-sm-4'>
                      <div class="form-group">
                          <label class="control-label" for="city">University</label>  
                          <input class="form-control input-md" #university="ngModel" required id="university" name="city" type="text" placeholder="Univeristy" [(ngModel)]="capability.university">
                      </div>
                  </div>
                  <div class='col-xs-4 col-sm-offset-1 col-sm-3'>
                      <div class="form-group">
                          <label class="control-label" for="state">Year Graduated</label>  
                          <input class="form-control input-md" #year="ngModel" required id="year" name="state" type="number" placeholder="Year Graduated" [(ngModel)]="capability.graduated">
                      </div>
                  </div>
              </div>
          </div>

          <div class="form-group text-center">
              <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(addressForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
              <button class="btn btn-outline-rounded btn-info" [disabled]="!addressForm.valid" (click)="goToNext(addressForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
          </div>
      </div>
  
  </div>
</form>